body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: linear-gradient(45deg, #FFD700, #FF6347, #FFD700, #FF6347);
    background-size: 400% 400%;
    animation: gradientBG 10s infinite;
    overflow: auto; /* Allows scrolling */
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin: 2% auto; /* Added margin for spacing */
}

.box {
    width: 100%; 
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    position: relative;
}

.box h2 {
    margin-bottom: 10px;
    font-weight: 700;
}

.box p {
    font-weight: 300;
}

.box.completed {
    background-color: #FFD700; /* Gold color for a premium feel */
    transform: scale(1.05); /* Slight zoom effect */
}

.headline {
    text-align: center;
    font-size: 4em; /* Large font size */
    margin-top: 5%; /* Spacing from the top */
    margin-bottom: 3%; /* Spacing before the boxes */
    font-weight: 700; /* Bold font weight */
    color: #FFFFFF; /* White color for contrast against the gradient background */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    letter-spacing: 1px; /* Slight spacing between letters */
}
